@using Admin.Haircut.Business.Models.Base;
@using Admin.Haircut.Business.Models.Employee;
@using Admin.Haircut.Business.Core;

@model PagingResult<EmployeeModel>;

<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Sample Page</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item active">Sample Page</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                            <li>
                                <a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 project-list">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6 p-0">
                            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>Tất cả</a></li>
                                <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="false"><i data-feather="info"></i>Doing</a></li>
                                <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><i data-feather="check-circle"></i>Done</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 p-0">
                            <div class="form-group mb-0 me-0"></div><a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployee"> <i data-feather="plus-square"> </i>Tạo mới</a>
                            <div class="modal fade modal-bookmark" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="addEmployeeLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addEmployeeLabel">Tạo mới</h5>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form theme-form" novalidate id="create_form">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="exampleFormControlInput1">Họ tên</label>
                                                                <input class="form-control" 
                                                                    name="FullName" type="text" 
                                                                    placeholder="Nhập họ tên" 
                                                                    data-msg-required="Họ tên không được để trống!" 
                                                                    data-msg-required-1="Họ tên hợp lệ" 
                                                                    required
                                                                >
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="exampleFormControlInput1">Tên tài khoản</label>
                                                                <input class="form-control" 
                                                                    name="Username" type="text" 
                                                                    placeholder="Nhập tên tài khoản" 
                                                                    minlength="5" maxlength="10" 
                                                                    data-msg-required="Tên tài khoản không được để trống!" 
                                                                    data-msg-required-1="Tài khoản hợp lệ" 
                                                                    required
                                                                >
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="mb-3">
                                                                <label class="form-label" for="exampleInputPassword2">Mật khẩu</label>
                                                                <input class="form-control" 
                                                                    name="Password" type="password" 
                                                                    placeholder="Nhập mật khẩu" 
                                                                    data-msg-required="Mật khẩu không được để trống!" 
                                                                    data-msg-required-1="Mật khẩu hợp lệ" 
                                                                    required
                                                                >
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer text-end">
                                                    <button class="btn btn-primary" type="submit">Tạo mới</button>
                                                    <input class="btn btn-light" type="reset" value="Hủy bỏ">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-de">
                            <thead>
                                <tr>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Họ tên</th>
                                    <th scope="col">Giới tính</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Điện thoại</th>
                                    <th scope="col">Ngày bắt đầu</th>
                                    <th scope="col">Tài khoản</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Birthday.FormatDate()</td>
                                        <td>@item.Phone</td>
                                        <td>@item.StartingDate.FormatDate()</td>
                                        <td>@item.Username</td>
                                        <td>
                                            <a class="btn-detail-info" asp-controller="Employee" asp-action="Detail" asp-route-id="@item.Id"><i data-feather="user"></i></a>
                                            <i data-feather="more-vertical"></i>
                                            <button class="btn-delete-user" id=@item.Id><i data-feather="trash-2"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts{
    <script>
        $(function() {

            const form1 = $('#create_form');

            Array.prototype.filter.call(form1, function(form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    form.classList.add('was-validated');

                    var result = form.querySelectorAll(':valid');
                    for (var item of result) {
                        var msg = $(item).data("msg-required-1");
                        $(item).next("label").removeAttr("class").addClass("valid-feedback").html(msg);
                    }

                    if (form.checkValidity() === true) {
                        var formData = new FormData();

                        var otherData = $(form).serializeArray();
                        $.each(otherData || [],
                            function(key, item) {
                                formData.append(item.name, item.value);
                            });

                        var object = {};
                        formData.forEach((value, key) => { object[key] = value });

                        $.ajax({
                            url: '@Url.Action("Create", "EmployeeApi")',
                            type: "POST",
                            data: JSON.stringify(object),
                            contentType: 'application/json',
                            success: function(response) {
                                alert(response);
                                window.location.href = '@Url.Action("Add", "Employee")';
                            },
                            error: function(response) {
                                alert(response.responseJSON.message);
                            }
                        });
                    } else {
                        var list = form.querySelectorAll(':invalid');
                        for (var item of list) {
                            var msg = $(item).data("msg-required");
                            $(item).next("label").removeAttr("class").addClass("invalid-feedback").html(msg);
                        }
                    }
                }, false);
            });

            //var button = $(form).find("button[type='submit']");

            //button.on('click', function(e) {
            //    e.preventDefault();

            //    var formData = new FormData();

            //    var otherData = $(form).serializeArray();
            //    $.each(otherData || [],
            //        function(key, item) {
            //            formData.append(item.name, item.value);
            //        });

            //    var object = {};
            //    formData.forEach((value, key) => { object[key] = value });

            //    $.ajax({
            //        url: '@Url.Action("Create", "EmployeeApi")',
            //        type: "POST",
            //        data: JSON.stringify(object),
            //        contentType: 'application/json',
            //        success: function(response) {
            //            alert(response);
            //            window.location.href = '@Url.Action("Add", "Employee")';
            //        },
            //        error: function(response) {
            //            alert(response.responseJSON.message);
            //        }
            //    });
            //});
        });
    </script>
}

@section Head{
    <style>
        .btn-detail-info {
            border-style: none;
            background: white;
            border-color: #e6edef;
        }
        .btn-detail-info:hover {
            background-color: gainsboro
        }
        .btn-delete-user {
            border-style: none;
            background: white;
            border-color: #e6edef;
        }
        .btn-delete-user:hover{
            background-color: gainsboro
        }
    </style>
}